<h1> Practice From Test Component  </h1>

<p class = 'text-success'>Welcome Riddhi!  ({{name}}) {{2+2}} </p>
<p [style.color] = "'Orange'">Welcome {{name.toUpperCase()}} {{greetUser()}} {{name.length}} </p>

<button (click)="onClick()">
    Click
</button>

<div *ngIf="displayName; then ifBlock; else elseBlock"></div>
<ng-template #ifBlock>
    <h5>If Block</h5>
</ng-template>
<ng-template #elseBlock>
    <h5>Else Block</h5>
</ng-template>

<div [ngSwitch] = 'color'>
    <div *ngSwitchCase="'red'">You picked Red color.</div>
    <div *ngSwitchCase="'blue'">You picked Blue color.</div>
    <div *ngSwitchCase="'green'">You picked Green color.</div>
    <div *ngSwitchDefault>Pick again.</div>

</div>

<span *ngFor='let clr of colors; index as i; first as f'>
{{i}}  {{clr}}  {{f}} ---
</span>

<p>{{name | lowercase}} {{name | slice:2:5}}</p>

<hr>